.gfw-form-title {
    --sds-c-accordion-heading-text-color: #BB00FF;
}

.gfw-arabic-body {
    font-size: 125%;
}

.rtl {
    direction:rtl;
}

.gfw-arabic-body {
    font-size: 125%;
}

.gfw-container {
    width: 100%;
    overflow-wrap:normal;
}

.gfw-title {
    white-space: normal;
}

.topmargin {
    margin-top: 4rem;
}

.bottompadding {
    padding-bottom: 4rem;
}

.bottommargin {
    margin-bottom: 5rem;
}

.bottommargin-small {
    margin-bottom: 1rem;
}

.bff-button-brand {
	--slds-c-button-brand-color-background: rgb(46, 17, 54);
    --slds-c-button-brand-color-background-hover: rgb(62, 23, 72);
    --slds-c-button-brand-color-border: rgb(46, 17, 54);
    --slds-c-button-brand-color-border-hover: rgb(62,23,72);
    --slds-c-button-brand-text-color: rgb(249, 248, 250);
    --slds-c-button-brand-text-color-hover: rgb(249, 248, 250);
}