.gfw-form-title {
    --sds-c-accordion-heading-text-color: #BB00FF;
}

.gfw-arabic-body {
    font-size: 125%;
}

.rtl {
    direction:rtl;
}

.gfw-arabic-body {
    font-size: 125%;
}

.gfw-container {
    width:fit-content;
    overflow-wrap:normal;
}

.gfw-title {
    white-space: normal;
}

.topmargin {
    margin-top: 4rem;
}
